/* Login.css */

/* Styles for the Login container */
.login-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for the login form */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Style for the login form heading */
  .login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Style for the input fields */
  .login-form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the login button */
  .login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Hover effect for the login button */
  .login-button:hover {
    background-color: #0056b3;
  }
/* index.css */
table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
  }
  
  /* Style for the buttons */
  button {
    border: 1px solid #007bff;
    padding: 4px 8px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  